.selecao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  width: 100%;
  height: 100%;
}

.selecao > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 30%;
}

#modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  width: 20%;
  height: 15%;
  padding: 5px 15px;
  padding-bottom: 0;

  background-color: var(--azul-base);
  color: var(--off-white);
  border: none;
  border-radius: calc(var(--border-radius) - 10px);

  -webkit-box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.75);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#modal label {
  font-size: 1.5rem;
  font-weight: 900;
  text-indent: 10px;
  align-self: flex-start;
}

#modal input {
  padding: 10px;
  width: 100%;
  height: 35%;
}

#modal button {
  align-self: flex-end;
  width: 40%;
  padding: 5px;

  color: var(--azul-base);
  font: normal 900 1rem var(--font-principal);
  background-color: var(--off-white);
  border-radius: calc(var(--border-radius) - 5px);
  border: none;
}

#modal button:active {
  outline: solid 2px var(--off-white-cinza);
}

.close_button {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;

  width: 30px;
  height: 30px;
}
